API_KEY_NANSEN=
NANSEN_API_BASE_URL=https://api.nansen.ai
API_KEY_OPENROUTER=
API_KEY_TINY_FISH=

S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=editions
S3_REGION=

PORT=3001
